{% extends "JobApp/base.html" %}
{% block content %}

<h1>
    {{ grade.name_g }}
</h1>
	{% if user.username %}
		<a href="{% url 'JobApp:Grade_edit' grade.id   %}">Edit {{ grade.name_g }}</a>	<br />
		<a href="{% url 'JobApp:Grade_delete' grade.id   %}">Delete {{ grade.name_g }}</a>	
        {% endif %}
<p>
    <ul>
        <li><b>Name: </b> {{ grade.name_g }} </li>
        <li><b>Area: </b>{{ grade.area }} </li>
        <li><b>Description: </b>{{ grade.description }} </li>
    </ul>
</p>

{% endblock %}
{% block footer %}
{% endblock %}
