{% extends "JobApp/base.html" %}
{% block content %}

<h1>
    {{ job.name }}
</h1>
	{% if user.username %}
		<a href="{% url 'JobApp:Job_edit' job.id   %}">Edit {{ job.name }}</a>	
        {% endif %}
<p>
    <ul>
        <li><b>Code: </b> {{ job.code_j }} </li>
        <li><b>Name: </b> {{ job.name }} </li>
        <li><b>Sector: </b> {{ job.sector  }} </li>
    </ul>
</p>

<p>
    <b>Grades required: </b> <br />
    <ul>
    {% for grade in job.grades.all %}
        <li><a href="{% url 'JobApp:GradeDetail'  grade.id %}">{{ grade.name_g }}</a></li>
        {% empty %} <li>Sorry, no grades registered yet.</li> 
    {% endfor %} 
    </ul>
</p>

<p>
     <b>Competencies required: </b> <br />
     <ul>
     {% for competency in job.competencies.all %}
        <li><a href="{% url 'JobApp:CompetencyDetail'  competency.id %}">{{ competency.name_c }}</a></li>
        {% empty %} <li>Sorry, no users registered yet.</li> 
     {% endfor %} 
     </ul>
</p>

{% endblock %}
{% block footer %}
{% endblock %}
