{% extends "JobApp/base.html" %}
{% block content %}

<h1>
    {{ user.name }}
</h1>

<p>
    <ul>
        <li><b>Code: </b>{{ user.code_u }} </li>
        <li><b>Name: </b>{{ user.name }} </li>
        <li><b>Age: </b>{{ user.age }} </li>
        <li><b>Gender: </b>{{ user.gender }} </li>
        <li><b>Is the User looking for a Job?: </b> {{ user.is_looking_for_job }} </li>
    </ul>
</p>

<p>
    <b> Grades required: </b> <br/>
    <ul>
    {% for grade in user.grades.all %}
        <li><a href="{% url 'JobApp:GradeDetail'  grade.code_g.id %}">{{ grade.code_g.name_g }}</a></li>
        {% empty %} <li>Sorry, no users registered yet.</li> 
    {% endfor %} 
    </ul>
</p>

<p>
    <b> Competencies required: </b> <br/>
    <ul>
    {% for competency in user.competencies.all %}
        <li><a href="{% url 'JobApp:CompetencyDetail'  competency.code_c.id %}">{{ competency.code_c.name_c }}</a></li>
        {% empty %} <li>Sorry, no users registered yet.</li> 
    {% endfor %} 
    </ul>
</p>

{% endblock %}
{% block footer %}
{% endblock %}
